* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


#cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    right: 20px;
    font-size: 18px;
    padding: 5px 10px;
}

.header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header a:hover {
    background-color: #fff;
    color: #333;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

#productList div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 25%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#productList div:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#productList div button {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

#productList div button:hover {
    background-color: #555;
}
